html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #d5ecfc, #ffffff);
    font-family: "Open Sans", Andalus, serif;
    font-size: 18px;
    font-weight: 400;
}

a:hover {
  color: rgb(82, 82, 160);
}

/* Card Style */
.card {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
} 

/* Copyright tex style */
.copyright-text {
    margin-top: 80px;
    margin-bottom: 30px;
}

/* Swipe Button Style */
.swipeup {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background: linear-gradient(to right, rgb(0, 51, 255), cyan) !important;
  border: solid 1px silver;
  z-index: 999;
}

@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  .card {
    flex-direction: column;
  }

  .main-msg .text-msg {
    width: 100%;
  }
}