body {
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#introduction {
    font-style: unset;
}
.text-table {
    font-size: 25px;
    color: honeydew;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 250px;
    margin-left: 75px;
    margin-right: 250px;
    margin-bottom: 100px;
}

.footer-text {
    color: honeydew;
    margin: 150px auto;
}