html {
    webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background-color: #d5ecfc;
    background-image: url(../img/gradien1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Open Sans", Andalus, serif;
    font-size: 18px;
    font-weight: 400;
}

a,
button {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: red;
}

p {
    line-height: 1.8;
}

#porto_content {

}

.container-fluid {
    max-width: 1200px;
}

.navbar-head {
    background-color: transparent;
    position: right;
}

#card-header {
    margin-top: 30px;
}

#top-card {
    margin-top: 65px;
    margin-bottom: 45px;
}

#last-card {
    margin-bottom: 110px;
}
.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-1 img {
    width: 300px;
    height: 160px;
}

.card-2 img {
    width: 180px;
    height: 300px;
}

.card-3 img {
    width: 300px;
    height: 160px;
}

.card-4 img {
    width: 196px;
    height: 300px;
}

.card-5 img {
    width: 193px;
    height: 300;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}