html {

    scroll-behavior: smooth;
}

body {
    background-color: #d5ecfc;
    background-image: url(../img/gradien1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Open Sans", Andalus, serif;
    font-size: 18px;
    font-weight: 400;
}

a,
button {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: red;
}

p {
    display: auto;
    resize: both;
    margin: auto;
    height: auto;
}

.container-fluid {
    max-width: 1200px;
}

.navbar-head {
    background-color: transparent;
    position: right;
}

#card-header {
    margin-top: 30px;
}

#top-card {
    float: left;
    margin-top: 75px;
    margin-bottom: 45px;
}

#last-card {
    margin-bottom: 110px;
}

/* #section-item {
    width: 21rem;
    height: 14rem;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 70px 95px;
} */

.text-over {
    size: auto;
    font-size: auto;
    margin: auto;
}
.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;

}

.card-body {
    padding: 100px auto;
}

.card-1 img {
    resize: both;
    margin: 15px auto;
    width: 300px;
    height: auto;
}

.card-2 img {
    margin: 15px auto;
    width: 180px;
    height: 300px;
}

.card-3 img {
    margin: 15px auto;
    width: 300px;
    height: 160px;
}

.card-4 img {
    margin: 15px auto;
    width: 196px;
    height: 300px;
}

.card-5 img {
    margin: 15px auto;
    width: 193px;
    height: 300;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 450px) {
    .text-over {
        width: 100%;
    }
}